<table mat-table [dataSource]="historicalTransactions" class="mat-elevation-z8">
  <!-- DATE column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.date | date : DATE_FORMAT : TIME_ZONE }}
    </td>
  </ng-container>

  <!-- TYPE column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <!-- TICKER column -->
  <ng-container matColumnDef="ticker">
    <th mat-header-cell *matHeaderCellDef>Ticker</th>
    <td mat-cell *matCellDef="let element">{{ element.ticker }}</td>
  </ng-container>

  <!-- AMOUNT column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
  </ng-container>

  <!-- STOCK PRICE column -->
  <ng-container matColumnDef="stockPrice">
    <th mat-header-cell *matHeaderCellDef>Stock Price</th>
    <td mat-cell *matCellDef="let element">
      ${{ element.stockPrice | number : NUMBER_FORMAT }}
    </td>
  </ng-container>

  <!-- TOTAL VALUE column -->
  <ng-container matColumnDef="totalValue">
    <th mat-header-cell *matHeaderCellDef>Total Value</th>
    <td mat-cell *matCellDef="let element">
      ${{ element.totalValue | number : NUMBER_FORMAT }}
    </td>
  </ng-container>

  <!-- REMAINING BALANCE column -->
  <ng-container matColumnDef="remainingBalance">
    <th mat-header-cell *matHeaderCellDef>Remaining Balance</th>
    <td mat-cell *matCellDef="let element">
      ${{ element.remainingBalance | number : NUMBER_FORMAT }}
    </td>
  </ng-container>

  <!-- COLUMNS TO DISPLAY -->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
</table>
