<mat-card id="profile">
  <mat-card-header id="header">
    <img id="avatar" mat-card-avatar src="assets/avatars/avatar1.png" />
    <div id="account-info">
      <mat-card-title
        >User: <span style="font-weight: bold">Alexander</span></mat-card-title
      >
    </div>
    <div id="account-info">
      <mat-card-title
        >Account balance:
        <span style="font-weight: bold">$100</span></mat-card-title
      >
    </div>
  </mat-card-header>
  <mat-card-content id="portfolio">
    <mat-list id="stock-list">
      <mat-list-item class="stock-item">
        <img
          matListItemAvatar
          alt="logo"
          src="assets/logos/mercedes-logo.png"
        />
        <div class="stock-info">
          <div>MBG</div>
          <div>$100.11</div>
          <div>11x</div>
        </div>
      </mat-list-item>
      <mat-list-item class="stock-item">
        <img
          matListItemAvatar
          alt="logo"
          src="assets/logos/microsoft-logo.png"
        />
        <div class="stock-info">
          <div>MSFT</div>
          <div>$199.99</div>
          <div>20x</div>
        </div>
      </mat-list-item>
      <mat-list-item class="stock-item">
        <img matListItemAvatar alt="logo" src="assets/logos/tesla-logo.png" />
        <div class="stock-info">
          <div>TSLA</div>
          <div>$200.00</div>
          <div>100x</div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
