<mat-card id="profile">
  <mat-card-header id="header">
    <img id="avatar" mat-card-avatar src="assets/avatars/avatar1.png" />
    <div id="account-info">
      <mat-card-title>
        User: <span style="font-weight: bold">{{ username }}</span>
      </mat-card-title>
    </div>
    <div id="account-info">
      <mat-card-title>
        Account balance:
        <span style="font-weight: bold">${{ balance }}</span>
      </mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content id="portfolio">
    <div class="stock-item">
      <img
        matListItemAvatar
        alt="logo"
        src="assets/logos/mercedes-logo.png"
        class="stock-logo"
      />
      <span class="stock-name">MBG</span>
      <span class="stock-amount">100</span>
    </div>
    <div class="stock-item">
      <img
        matListItemAvatar
        alt="logo"
        src="assets/logos/microsoft-logo.png"
        class="stock-logo"
      />
      <span class="stock-name">MSFT</span>
      <span class="stock-amount">55</span>
    </div>
    <div class="stock-item">
      <img
        matListItemAvatar
        alt="logo"
        src="assets/logos/tesla-logo.png"
        class="stock-logo"
      />
      <span class="stock-name">TSLA</span>
      <span class="stock-amount">211</span>
    </div>
    <div class="stock-item">
      <img
        matListItemAvatar
        alt="logo"
        src="assets/logos/mercedes-logo.png"
        class="stock-logo"
      />
      <span class="stock-name">MBG</span>
      <span class="stock-amount">100</span>
    </div>
    <div class="stock-item">
      <img
        matListItemAvatar
        alt="logo"
        src="assets/logos/microsoft-logo.png"
        class="stock-logo"
      />
      <span class="stock-name">MSFT</span>
      <span class="stock-amount">55</span>
    </div>
    <div class="stock-item">
      <img
        matListItemAvatar
        alt="logo"
        src="assets/logos/tesla-logo.png"
        class="stock-logo"
      />
      <span class="stock-name">TSLA</span>
      <span class="stock-amount">211</span>
    </div>
    <div class="stock-item">
      <img
        matListItemAvatar
        alt="logo"
        src="assets/logos/mercedes-logo.png"
        class="stock-logo"
      />
      <span class="stock-name">MBG</span>
      <span class="stock-amount">100</span>
    </div>
    <div class="stock-item">
      <img
        matListItemAvatar
        alt="logo"
        src="assets/logos/microsoft-logo.png"
        class="stock-logo"
      />
      <span class="stock-name">MSFT</span>
      <span class="stock-amount">55</span>
    </div>
    <div class="stock-item">
      <img
        matListItemAvatar
        alt="logo"
        src="assets/logos/tesla-logo.png"
        class="stock-logo"
      />
      <span class="stock-name">TSLA</span>
      <span class="stock-amount">211</span>
    </div>
  </mat-card-content>
</mat-card>
