#profile {
  width: 50%;
  margin: 100px auto;
  background-color: rgb(235, 235, 235);
}

#header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#account-info {
  border-radius: 10px;
  background-color: #f5f889;
  padding: 15px;
  font-size: 24px;
  text-align: center;
  border: 2px solid black;
}

#portfolio {
  margin: 1em;
}

#stock-list {
  margin-top: 1em;
  margin-right: 2em;
}

.stock-item {
  background: linear-gradient(
    90deg,
    rgb(255, 194, 194) 0%,
    rgba(254, 128, 128, 1) 100%
  );
  margin: 1em;
  border-radius: 50%;
  border: 2px solid rgb(107, 97, 97);
}

.stock-info {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
